---
# Course title, summary, and position.
linktitle: "glide.discovery.enable_mac_address_verification"
summary: ""
weight: 1
# Page metadata.
title: "glide.discovery.enable_mac_address_verification"
date: "2018-09-09T00:00:00Z"
lastmod: "2018-09-09T00:00:00Z"
draft: false  # Is this a draft? true/false
toc: true  # Show table of contents? true/false
type: docs  # Do not modify.

# Add menu entry to sidebar.
# - name: Declare this menu item as a parent with ID name.
# - weight: Position of link in menu.
menu:
  properties:
    parent: Properties
    name: "glide.discovery.enable_mac_address_verification"
    weight: 1
---

Description: MAC address verification should be enabled if IP addresses of discovered CI's change frequently.  This provides an additional verification step on the MID server to check that MAC address does not change for an IP address between Identification and Exploration phase of Discovery.


Value: `false`